.button {
    border: none;
    cursor: pointer;
    background-color: green;
    border-radius: 3px;
    padding: 20px;
    transition: all 0.1s ease-in-out;
  
    &:hover {
      opacity: 50%; ;
    }
  }
  