* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.beer-card {
  border: 3px solid brown;
  box-shadow: 3px 3px goldenrod;
  box-shadow: inset;
  background-color: sandybrown;
  width: 260px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 25px;
}

.beer-card__heading {
  font-size: 22px;
  height: 40px;
  margin: 10px;
  text-align: center;
  color: brown;
}

.beer-card__image {
  padding: 15px;
  height: 200px;
  align-self: center;
}

.beer-card__tag {
  padding-top: 25px;
  text-align: center;
  font-size: 16px;
  margin: 10px;
  color: darkgreen;
}

.beer-card__add {
  width: 240px;
  font-size: 12px;
  color: yellow;
  text-align: center;
}
