.filter {
  background-color: sandybrown;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  padding: 15px;
  margin-left: 5px;
}

h1 {
  color: darkgreen;
  font-size: medium;
}
